<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span> <%= @project.title %> </span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class:"btn btn-warning" %>
        <%= link_to 'Destroy', @project, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>

    <h6>Add feature</h6>

    <%= render 'features/form' %>

  </div>
</div>


<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @project.descreption %>
</p>

|
<%= link_to 'Back', projects_path %>

<hr>


<hr>
<h1>Listing features</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.features.each do |feature| %>
  <%if feature.persisted? %>
    <tr>
      <td><%= feature.name %></td>
      <td><%= feature.description %></td>
      <td><%= feature.status%></td>
      <td><%= feature.project.id %></td>
      <td><%= link_to 'Show', [feature.project, feature] %></td>
      <td><%= link_to 'Edit', edit_project_feature_path(feature.project, feature) %></td>
      <td><%= link_to 'Destroy', [feature.project, feature], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <%end %>
<% end %>
</table>

<br />

<%= link_to 'New Feature', new_project_feature_path(@project.id) %>
