<div>
  <%= link_to 'Back', projects_path, class:"btn btn-secondary mb-3 " %>

</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span> <%= @project.title %> </span>
      <div>
        <%= link_to 'Bugs', project_bugs_path(@project.id), class:"btn btn-outline-secondary " %>
        <%= link_to 'Edit', edit_project_path(@project), class:"btn btn-outline-warning" %>
        <%= link_to 'Destroy', @project, method: :delete, class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>

    <div class="mb-4">

      <h6>Add feature</h6>

      <%= form_with(model: [@feature.project, @feature]) do |f| %>
        <% if @feature.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

            <ul>
            <% @feature.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :status, value:'new' %>
        <div class="input-group">
          <%= f.text_field :name, class:"form-control", placeholder:"Enter Feature Title" %>
          <div class="input-group-append">
            <%= f.submit class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <h4>Features </h4>
    <% @project.features.each do |feature| %>
      <%if feature.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="badge badge-<%=feature.badge_color %> mb-3  "><%= feature.status %></span>
              <div>
                <%= link_to 'Edit', edit_project_feature_path(feature.project, feature),  class:"btn btn-outline-warning btn-sm" %>
                <%= link_to 'Destroy', [feature.project, feature], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %>
              </div>
            </div>
            <h5 class="card-title mb-2">
            <span> <%= feature.name %> </span>

            </h5>
            <p><%= feature.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

