<%= form_with(model: [@bug.project, @bug]) do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :problem_statment %><br />
    <%= f.text_field :problem_statment, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :repro %><br />
    <%= f.text_area :repro, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :result %><br />
    <%= f.text_field :result, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :expected_result %><br />
    <%= f.text_field :expected_result, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br />
    <%= f.select :status, Feature::STATUS_OPTIONS, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
