<%= link_to 'Back',  project_features_path(@feature.project), class:"btn btn-secondary mb-3" %>

<div class="card">
  <div class="card-body">
    <h2 class="card-title  d-flex justify-content-between mb-4">
      <span><%= @feature.name %> </span>
      <div>
        <%= link_to 'Edit', edit_project_feature_path(@feature.project, @feature), class:"btn btn-outline-warning" %>
      </div>
    </h2>
     <p>
      <b>Description:</b>
        <%= @feature.description %>
      </p>
      <p>
      <b>Status:</b>
        <%= @feature.status %>
      </p>
      <p>
        <b>Project:</b>
        <%= @feature.project.title %>
      </p>

  </div>
</div>
